body{
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
}

#left-panel{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border: 1px solid #2c3e50;
    box-sizing: border-box;
    height: 100%;
    border-right: 0px solid #fff;
    transition: width .2s;
    background: #2c2c2c;
}

#left-panel.show{
    width: 20%;
}

#left-panel.hidden{
    width: 0%;
}

#left-panel > #select-project{
    width: 100%;
    position: absolute;
}

#left-panel > #select-project > p{
    position: absolute;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-bottom: 1px solid #ACACAC;
    background: white;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    z-index: 2;
    box-shadow: 0px 0px 5px #b5b5b5;
}

#left-panel > #select-project > .projects{
    position: absolute;
    width: 100%;
    top:-9999px;
    color: white;
    z-index: 1;
    background: white;
    transition: top .2s;
}

#left-panel > #select-project > .projects > li{
    color: #696969;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    box-sizing: border-box;
}

#left-panel > #select-project > .projects > li:hover{
    background: #f3f3f3;
}

#left-panel > #select-project:hover > .projects{
    top:45px;
}

#left-panel > #activities{
    position: absolute;
    height: 55px;
    width: 100%;
    bottom: 0px;
    background: white;
}

#right-panel{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid #ACACAC;
    box-shadow: 0px 0px 15px black;
    box-sizing: border-box;
    height: 100%;
    transition: width .2s;
}

#right-panel.normal{
    width: 80%;
}

#right-panel.full{
    width: 100%;
}

#right-panel > header{
    border-bottom: 1px solid #b5b5b5;
    box-sizing: border-box;
    height: 45px;
    width: 100%;
}

#right-panel > header > #opened-files{
    float: left;
    display: inline-block;
    height: 100%;
    list-style: none;
}

#right-panel > header > #opened-files > li{
    display: inline-block;
    height: 100%;
    padding: 5px;
    line-height: 35px;
    vertical-align: middle;
    box-sizing: border-box;
    border-right: 1px solid #b5b5b5;
    cursor: default;
}

#right-panel > header > #opened-files > li.selected{
    height: calc(100% + 1px);
}

#right-panel > header > #user-config{
    float: right;
    display: inline-block;
    border-left: 1px solid #b5b5b5;
    height: 100%;
    padding: 5px;
    vertical-align: middle;
    line-height: 35px;
    box-sizing: border-box;
}

#right-panel > header > #user-config > img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding-right: 5px;
    vertical-align: middle;
}

#right-panel > header > #window-buttons{
    float: right;
    display: inline-block;
    border-left: 1px solid #b5b5b5;
    height: 100%;
    box-sizing: border-box;
}

#right-panel > header > #window-buttons > li{
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    line-height: 35px;
    width: 45px;
    text-align: center;
    font-size: 16pt;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
    color: #c0392b;
    background: white;
}

#right-panel > header > #window-buttons > li:hover{
    background: #c0392b;
    color: white;
}

#right-panel > #code-config{
    position: fixed;
    width: 65px;
    top:55px;
    right: 10px;
    z-index: 1;
}

#right-panel > #code-config > .cc-cf{
    border: 1px solid #b5b5b5;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    margin: 5px;
}

#right-panel > #code-config > .cc-cf > p{
    text-align: center;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    vertical-align: middle;
}

#right-panel > #code-config > .cc-cf > .disable{
    display: none;
}

#right-panel > #code-config > .cc-cf > .enable{
    display: inline-block;
}

#right-panel > .CodeMirror{
    position: absolute;
    top:45px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%
}

.hidden{
    display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #b5b5b5;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #b5b5b5;
}
