.tree-js{
    display:inline-block;
    position: absolute;
    top: 45px;
    padding: 10px;
    overflow: auto;
    width:100%;
    box-sizing: border-box;
    height: calc(100% - 100px);
    z-index:0;
}
.tree-js li {
    list-style-type: none;
    display: block;
    margin: 5px;
    margin-left: 20px;
    line-height: 20px;
    vertical-align: middle;
    color: white;
}

.tree-js > li{
    margin-left: 0px;
}

.tree-js li > input{
    float:left;
    width:20px;
    height:20px;
    margin-right: 5px;
    line-height: 20px;
    vertical-align: middle;
    -webkit-appearance: none;
    border:0px solid black;
}

.tree-js li > input{
    float:left;
}

.tree-js li > input + ul{
    display:none;
}

.tree-js li > input:checked + ul{
    display:block;
}

.tree-js li > input[type='checkbox']{
    background: transparent url('../img/folder.png') no-repeat;
    background-position:center center;
    background-size: 100% 80%;
}

.tree-js li > input[type='radio']{
    background: transparent url('../img/file.png') no-repeat;
    background-position:center center;
    background-size: 80% 80%;
}