.tree-js{
    display:inline-block;
    padding: 10px;
    padding-top: 0px;
    z-index:9;
}
.tree-js li {
    list-style-type: none;
    margin-left: 10px;
    clear:both;
}

.tree-js > li{
    margin-left: 0px;
}

.tree-js li > input{
    float:left;
    width:15px;
    height:10px;
    -webkit-appearance: none;
    border:0px solid black;
}

.tree-js li > input{
    float:left;
}

.tree-js li > input + *{
    display:none;
}

.tree-js li > input:checked + *{
    display:block;
}

.tree-js li > input[type='checkbox']{
    background: transparent url('../img/folder.png') no-repeat;
    background-position:center center;
    background-size: 100% 100%;
}

.tree-js li > input[type='radio']{
    background: transparent url('../img/file.png') no-repeat;
    background-position:center center;
    background-size: 90% 100%;
}
